.container {
  display: flex;
  flex-direction: row;
}
.list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  background-color: rgb(20, 192, 135);
}

.job {
  color: white;
  text-decoration: none;
}

.job:hover {
  background-color: rgb(18, 172, 120);
}

#remove:hover {
  background-color: rgb(228, 58, 58);
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add {
  margin-left: 10px;
  margin-top: 15px;
}

.edit {
  margin-left: 0px;
  margin-top: 15px;
}

input {
  margin: 5px;
  height: 20px;
  /* border: none; */
}



button {
  background-color: rgb(20, 192, 135);
  border: none;
  height: 25px;
  margin-left: 5px;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.view {
  margin-left: 15px;
  color: rgb(87, 87, 87);
}

.submit-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.checkbox {
  height: 25px;
  width: 25px;
  margin: 10px 10px 5px 5px;
}

